
@import '/Users/michaelbessey/Projects/MSB/development/workspace/text/msb-base-static/framework/sass/_reset';
@import '/Users/michaelbessey/Projects/MSB/development/workspace/text/msb-base-static/framework/sass/_default';
@import '/Users/michaelbessey/Projects/MSB/development/workspace/text/msb-base-static/framework/sass/_structure';
@import '/Users/michaelbessey/Projects/MSB/development/workspace/text/msb-base-static/framework/sass/_content';

@import '/Users/michaelbessey/Projects/MSB/development/workspace/text/msb-base-static/framework/sass/_theme_neutral_color';
@import '/Users/michaelbessey/Projects/MSB/development/workspace/text/msb-base-static/framework/sass/_theme_font_arial_garamond';

@import '/Users/michaelbessey/Projects/MSB/development/workspace/text/msb-base-static/framework/sass/_theme';

#content-description {

  min-height: 13.0em;
}

.chart {

  position: relative;

  &.chart-graph {

    width: 1280px; height: 768px;

    svg {

      float: left;
      width: 70%; height: 100%;
      padding: 0; margin: 0;

      circle {

        cursor: pointer;
        cursor: hand;
      }

      .node {
        stroke: #fff;
        stroke-width: 1px;
      }

      .link {
        stroke: #999;
        stroke-opacity: .25;
      }
    }

    .chart-info-panel {

      h5 {
        font-size: 1.4em;
      }

      h6 {
        font-size: 1.2em;
      }

      float: right; width: 30%;
      padding: 0; margin: 0;

      font-size: 1.5em;
      padding: 10px;
      line-height: 20px;

      #url {
        color: #377eb8;
        font-weight: bolder;

        cursor: default;
      }

      .edge-list {

        cursor: pointer;
        cursor: hand;

      }

      #edge-list-source {

        cursor: pointer;
        cursor: hand;

        li:hover {
          color: #e41a1c;
        }
      }

      #header-source, #header-target {
        cursor: pointer;
        cursor: hand;
      }

      #edge-list-target {



        li:hover {
          color: #4daf4a;
        }
      }

      //position: absolute;
      //background-color: rgba(255, 255, 255, 0.7);
    }

  }


}